@import './basic';


:root {
  .el-button {
    border: none;
    color: $textColor;
    background: repeating-linear-gradient(45deg, #545454, transparent 100px);
    &:hover {
      color: #409eff;
    }
  }
  .el-card {
    background-color: $bgColor;
    border: none;
    color: $textColor;
  }
  .el-dropdown__popper.el-popper[role="tooltip"] {
    background: none;
  }
  --el-text-color-regular: $textColor;
  --el-border-color-light: none;
  --el-border-color-lighter: none;
  .el-dropdown-menu {
    background-color: #998e9f;
  }
  .el-dropdown-menu__item:focus,
  .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: rgb(255, 255, 255, 27%);
  }
  .el-input__inner {
    background-color: $bgColor;
    border: none;
  }
  .el-textarea__inner {
    background-color: $bgColor;
    border: none;
  }
}

.not-found {
  text-align: center;
  font-size: 400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  #app {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: 56px;
    min-width: 1200px;
  }
}

input {
  border: none;
  background: none;
  outline: none;
}

button {
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.color-black-7 {
  color: #777;
}

.blod {
  font-weight: bold;
}
.bgf6 {
  background-color: #f6f6f6;
}

.img-h {
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}

.main-box {
  max-width: 1032px;
  width: 100%;
  margin: 0 auto;
}

body {
  background: url(http://yangyangcsy.cn/images/login-bg.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}